{% extends "layout/base.html" %}
{% block title %}My Account Information{% endblock %}

{% block content %}
<div class="container">
  <div class="row page-title">
    <h1>My Account Information<span></span></h1>
  </div>

  <div class="row">
  	<div class="col-md-2">
  	  <p>
        <strong>Username:</strong>
      </p>
      <p>
        <strong>Password:</strong>
      </p>
      <p>
        <strong>First Name:</strong>
      </p>
      <p>
        <strong>Last Name:</strong>
      </p>
      <p>
        <strong>Credit Card Number:</strong>
      </p>
      <p>
        <strong>Address:</strong>
      </p>
      <p>
        <strong>Phone Number:</strong>
  	  </p>
  	</div>

    <div class="col-md-10">
      <p>
        {{ user.username }}
      </p>
      <p>
        {{ user.password }}
      </p>
      <p>
        {{ user.first_name }}
      </p>
      <p>
        {{ user.last_name }}
      </p>
      <p>
        {{ user.credit_card_number }}
      </p>
      <p>
        {{ user.address }}
      </p>
      <p>
        {{ user.phone_number }}
      </p>
    </div>

  </div>
</div>
{% endblock %}
