{% extends "layout/base.html" %}
{% block title %}My Feedback History{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my/user/feedback.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row page-title">
    <h1>My Feedback History<span></span></h1>
  </div>

  {% for feedback in user.feedback %}
  <div class="row padded-row vertically-align">
    <div class="col-md-8 review">
      <span class="review-book">{{ feedback.review.book.title }}</span><p style="float:right;"> {{ feedback.review.username }} gave it a <span class="review-score">{{ feedback.review.score }}</span> /10 </p>

      <div class="row">
        <div class="col-md-12">
          {{ feedback.review.date }} <br/>
          {{ feedback.review.description }}
        </div>
      </div>
    </div>

    <div class="col-md-4 avg-feedback">
      <div class="row text-center">
        You Rated <br/>
        <span>{{ feedback.rating }}</span>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
