{% extends "layout/base.html" %}
{% block title %}My Reviews History{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my/user/reviews.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row page-title">
    <h1>My Review History<span></span></h1>
  </div>

  {% for review in reviews %}
  <div class="row padded-row vertically-align">
    <div class="col-md-8 review">
      <span class="review-book">{{ review[0].book.title }}</span><p style="float:right;"> I gave it a <span class="review-score">{{ review[0].score }}</span> /10 </p>

      <div class="row">
        <div class="col-md-12">
          {{ review[0].date }} <br/>
          {{ review[0].description }}
        </div>
      </div>
    </div>

    <div class="col-md-4 avg-feedback">
      <div class="row text-center">
        {% if review[1] == -1 %}
          No Feedback yet
        {% else %}
          Average Feedback: <br/>
          <span>{{ review[1] }}</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
