{% from "macros.html" import render_field %}
{% extends "layout/base.html" %}
{% block title %}My Book Index{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my/book/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="row page-title">
        <h1>
          Book Index<span></span>
          {% if not order_in_progress %}
            <small>
              <form method="POST" action="{{ url_for('my.create_order') }}">
                <input type="submit" class="btn btn-success" value="Start New Order">
              </form>
            </small>
          {% endif %}
        </h1>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">

          <form class="form-inline" method="POST" action="{{ url_for('my.book_index') }}">
            {{ filter_form.csrf_token }}
            {{ render_field(filter_form.authors, class="form-control", placeholder="eg. James, Harry") }}
            {{ render_field(filter_form.publisher, class="form-control", placeholder="publisher") }}
            {{ render_field(filter_form.title, class="form-control", placeholder="title") }}
            {{ render_field(filter_form.subject, class="form-control", placeholder="subject") }}
            <input type="submit" class="btn btn-primary" value="search">
          </form>

        </div>
      </div>

      <div class="row">
        {% for book in books %}
        <div class="col-md-3">
          <a href="{{ url_for('my.show_book', ISBN=book.ISBN)}}" class="thumbnail">
            <strong>{{ book.title }}</strong>
          </a>

          {% if order_in_progress %}
            <form method="POST" action="{{ url_for('my.update_order', order_id=order_in_progress.id) }}">
              {{ add_book_to_order_forms[loop.index0].csrf_token }}
              {{ add_book_to_order_forms[loop.index0].isbn(value="{}".format(book.ISBN)) }}
              {{ render_field(add_book_to_order_forms[loop.index0].quantity, class="form-control", type="number", min=1, value=order_in_progress.books_orders.filter_by(book=book).first().quantity) }}
              <input type="submit" class="btn btn-success" value="Update Order">
            </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      {% if recommended_books %}

        <div class="row">
          <div class="col-md-12">
            <h3>Users who ordered <strong>{{ ordered_book.title }}</strong> also ordered:</h3>
          </div>

          {% for recommended_book in recommended_books %}
          <div class="col-md-3">
            <a href="{{ url_for('my.show_book', ISBN=recommended_book.ISBN) }}" class="thumbnail">
              <strong>{{ recommended_book.title }}</strong>
            </a>

            {% if order_in_progress %}
              <form method="POST" action="{{ url_for('my.update_order', order_id=order_in_progress.id) }}">
                {{ recommended_books_order_forms[loop.index0].csrf_token }}
                {{ recommended_books_order_forms[loop.index0].isbn(value="{}".format(recommended_book.ISBN)) }}
                {{ render_field(recommended_books_order_forms[loop.index0].quantity, class="form-control", type="number", min=1, value=order_in_progress.books_orders.filter_by(book=recommended_book).first().quantity) }}
                <input type="submit" class="btn btn-success" value="Update Order">
              </form>
            {% endif %}
          </div>
          {% endfor %}
        </div>

      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
