{% from "macros.html" import render_field %}
{% extends "layout/base.html" %}
{% block title %}My Book Index{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my/book/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>Book Index</h1>

      <div class="panel panel-default">
        <div class="panel-body">

          <form class="form-inline" method="post" action="{{ url_for('my.book_index') }}">
            {{ form.csrf_token }}
            {{ render_field(form.authors, class="form-control", placeholder="authors - enter names separated by a comma") }}
            {{ render_field(form.publisher, class="form-control", placeholder="publisher") }}
            {{ render_field(form.title, class="form-control", placeholder="title") }}
            {{ render_field(form.subject, class="form-control", placeholder="subject") }}
            <input type="submit" class="btn btn-primary" value="search">
          </form>

      </div>
    </div>

    <div class="row">
      {% for book in books %}
      <div class="col-md-3">
        <a href="{{ url_for('my.show_book', ISBN=book.ISBN)}}" class="thumbnail">
          <p><strong>{{ book.title }}</strong></p>
        </a>
      </div>
      {% endfor %}
    </div>

    </div>
  </div>
</div>
{% endblock %}
