{% from "macros.html" import render_field %}
{% extends "layout/base.html" %}
{% block title %}Book {{ book.title }}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my/book/show.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>
        {{ book.title }}
        <small>by {{ ', '.join(book.authors) }}</small>
      </h1>

      <div class="row">
        <div class="col-md-12">
          <p>
            <strong>ISBN:</strong>
            {{ '{}-{}'.format(book.ISBN[0:3], book.ISBN[3:]) }}
          </p>
          <p>
            <strong>Publisher:</strong>
            {{ book.publisher }}
          </p>
          <p>
            <strong>Year of Publication:</strong>
            {{ book.year_of_publication }}
          </p>
          <p>
            <strong>Stock:</strong>
            {{ book.stock }}
          </p>
          <p>
            <strong>Price:</strong>
            ${{ book.price }}
          </p>
          <p>
            <strong>Format:</strong>
            {{ book.format }}
          </p>
          <p>
            <strong>Keywords:</strong>
            {{ ', '.join(book.keywords) }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">

            <div class="panel-heading clearfix">
              <div class="panel-title pull-left">
                Reviews
              </div>
              <div class="pull-right">
                <a href="{{ url_for('my.create_book_review', ISBN=book.ISBN) }}" type="button" class="btn btn-primary btn-lg">
                Create Review <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            <div class="panel-body">
              <p>Check out Reviews on {{ book.title }} by other customers! </p>
            </div>

            <ul class="list-group">

              {% for review in book.reviews %}

                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-3">
                      {{ review.score }}
                    </div>
                    <div class="col-md-3">
                      {{ review.description }}
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        {{ review.username }}
                      </div>
                      <div class="row">
                        {{ review.date }}
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        {% for feedback in review.feedbacks %}
                          {{ feedback.rating }} by {{ feedback.customer_feedback }} <br/>
                        {% endfor %}
                      </div>
                      <div class="row">
                        <form method="POST" action="{{ url_for('my.create_feedback', ISBN=book.ISBN, user=review.username) }}">
                          {{ form.csrf_token }}
                          {{ form.rating }}
                          <input type="submit" class="btn btn-success" value="Create"/>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>

              {% endfor %}

            </ul>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
