{% extends "layout/base.html" %}
{% block title %}Home{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
  <div class="container">
    <div class="row page-title">
      <h1 class="text-center">Welcome to the bookstore!<span></span></h1>
    </div>

  	<div class="row home-page" style="padding-top:20px;">
   	  <div class="col-md-2 col-md-offset-1 text-center action-1">
    		<div class="row"><a href="{{ url_for('my.get_account_information') }}"><span class="glyphicon glyphicon-user circle-icon" aria-hidden="true"></span></a>
    		</div>
        <div class="row"><a href="{{ url_for('my.get_account_information') }}">My Account Information</a>
    	  </div>
      </div>

  	  <div class="col-md-2 text-center">
    		<div class="row"><a href="{{ url_for('my.book_index') }}"><span class="glyphicon glyphicon-book circle-icon" aria-hidden="true"></span></a>
    		</div>
        <div class="row"><a href="{{ url_for('my.book_index') }}">Browse Books</a>
    	  </div>
      </div>

  	  <div class="col-md-2 text-center">
    		<div class="row"><a href="{{ url_for('my.get_review_history') }}"><span class="glyphicon glyphicon-list-alt circle-icon" aria-hidden="true"></span></a>
    		</div>
        <div class="row"><a href="{{ url_for('my.get_review_history') }}">My Review History</a>
    	  </div>
      </div>

  	  <div class="col-md-2 text-center">
    		<div class="row"><a href="{{ url_for('my.get_feedback_history') }}"><span class="glyphicon glyphicon-list-alt circle-icon" aria-hidden="true"></span></a>
    		</div>
        <div class="row"><a href="{{ url_for('my.get_feedback_history') }}">My Feedback History</a>
    	  </div>
      </div>

  	  <div class="col-md-2 text-center">
    		<div class="row"><a href="{{ url_for('my.order_index') }}"><span class="glyphicon glyphicon-shopping-cart circle-icon" aria-hidden="true"></span></a>
    		</div>
        <div class="row"><a href="{{ url_for('my.order_index') }}">My Order History</a>
    	  </div>
      </div>
  	</div>
  </div>
{% elif store_manager_logged_in() %}
 <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Store Manager</h1>

          <div class="row">
            <div class="col-md-4">
              <a href="{{ url_for('store_manager.book_index') }}" class="thumbnail">
                <p><strong>Browse Books</strong></p>
              </a>
            </div>

            <div class="col-md-4">
              <a href="{{ url_for('store_manager.new_book') }}" class="thumbnail">
                <p><strong>New Book</strong></p>
              </a>
            </div>

            <div class="col-md-4">
              <a href="{{ url_for('store_manager.statistics') }}" class="thumbnail">
                <p><strong>Statistics</strong></p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
<style>
  body {
    overflow-y:hidden;
  }
</style>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to the Bookstore</h1>
          <p>Get ready to dive into the world of books!</p>
          <a href="{{ url_for('customer.login') }}" class="btn btn-lg btn-primary">Login</a>
          <br>
          OR
          <br>
          <a href="{{ url_for('customer.sign_up') }}" class="btn btn-lg btn-default">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
