@import url('/static/css/base.css');

.jumbotron {
  height: 100vh;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  text-align: center;

  background-image: url('../images/books.jpg');
  background-size: cover;
}

.jumbotron h1, p {
  color: #fff;
}

.jumbotron a {
  margin: 10px 0;
  border-radius: 0;
}

.thumbnail {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.thumbnail p {
  color: #000;
}

.home-page .glyphicon {
  font-size:40px;
}

.home-page a {
  font-size: 20px;
  color:black;
  letter-spacing:2px;
}

.circle-icon {
  border: 3px solid black;
  border-radius: 50%;
  width:100px;
  height:100px;
  line-height: 96px;
  margin-bottom: 10px;
}

.circle-icon:hover{
  color:white;
  background: black;
}
