{% from "macros.html" import render_field %}
{% extends "layout/base.html" %}
{% block title %}Customer Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row centralise">
    <div class="col-offset-4 col-md-6">

      <div class="row page-title">
        <h1>Customer Login<span></span></h1>
      </div>

      <form method="POST" action="{{ url_for('customer.login')}}">
        {{ form.csrf_token }}
        {{ render_field(form.username, class="form-control", placeholder="Username") }}
        {{ render_field(form.password, class="form-control", placeholder="Password") }}
        <input type="submit" class="btn btn-primary btn-block" value="Login"/>
      </form>

    </div>
  </div>
</div>
{% endblock %}
