@import url('/static/css/base.css');

.thumbnail {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.thumbnail > p {
  text-align: center;
}

form {
  margin: 20px 0;
}
