@import url('/static/css/base.css');

h1 {
  margin-bottom: 40px;
}

.book-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.book-format {
	font-style: italic;
	color: gray;
}

.back-button {
	padding-top: 10px;
}

ul#rating {
	list-style: none;
	padding-left: 10px;
}

.review {
	border-right: 1px solid black;
}


.reviews-title {
	letter-spacing:10px;
	text-transform: uppercase;
}

.underline {
	border-bottom: 0.5px solid black;
}

.avg-feedback span, .review-score, .review-username {
	font-size: 20px;
	font-weight: bold;
}

.review-score {
	color:red;
}

.filter-topn {
	text-decoration: none;
}

.padded-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.vertically-align {
	display: flex;
	align-items: center;
}
