@import url('/static/css/base.css');

h1 {
  margin-bottom: 40px;
}

.panel-title {
	padding-top: 10px;
}

.back-button {
	padding-top: 10px;
}

ul#rating {
	list-style: none;
	padding-left: 10px;
}

.avg-feedback span, .review-score, .review-username {
	font-size: 20px;
	font-weight: bold;
}
