<!DOCTYPE HTML>

<html>
  <head>
    <title>{% block title %}{% endblock %} - Database Bookstore</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  </head>

  <body>
    {% include "partials/header.html" ignore missing %}
    {% block content %}{% endblock %}
  </body>



</html>
