<header>
  <nav class="navbar navbar-default">

    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a href="{{ url_for('pages.index') }}" class="navbar-brand"><span class="glyphicon glyphicon-book"</a>
      </div>

      <div class="collapse navbar-collapse" id="header-nav">
        <ul class="nav navbar-nav navbar-right">
          {% if store_manager_logged_in() %}
            <li><a href="{{ url_for('store_manager.logout') }}">Logout</a></li>
          {% else %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('customer.logout') }}">Logout</a></li>
            {% else %}
              <li><a href="{{ url_for('store_manager.login') }}">Managers</a></li>
              <li><a href="{{ url_for('customer.login') }}">Login</a></li>
            {% endif %}
            <li><a href="{{ url_for('customer.sign_up') }}">Sign Up</a></li>
          {% endif %}
          </ul>
      </div>

    </div>

  </nav>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</header>
